* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: steelblue;
}
.cuerpo {
    height: auto;
    background-color: lightgray;
}

footer{
    height:120px;
    background-color: steelblue;
    text-align: center;
}
.sidenav{
    background-color: steelblue;
    height: 750px;
}

.btn-formulario{
    background-color:silver;
}

.titulo-formulario{
    background-color:steelblue;
}

form {
    border: 3px whitesmoke dashed;
}
